.sensorName{margin-bottom:1rem;font-weight:500;font-size:1.4rem;color:#fff}
.sensorArea{display:flex;min-height:calc(100vh - 180px)}
.itemList{position:relative;flex:none;width:20rem;height:calc(100vh - 180px);overflow-y:auto;padding:1rem 1rem 2rem 1.5rem;border:1px solid rgba(255,255,255,0.15);border-right:0;background-color:#00001d}
.itemList::-webkit-scrollbar{width:5px;height:5px;background-color:rgba(19,21,24,0.5)}
.itemList::-webkit-scrollbar-thumb{border-radius:2px;background:#2b59a2}
.itemList::-webkit-scrollbar-track{border-radius:2px}
.itemMain{margin-top:1rem} 
    
.itemLine{position:relative;width:1rem;height:1.8rem;margin-left:1rem;border-left:1px solid #01579b;border-bottom:1px solid #01579b}
.item{position:absolute;display:block;top:.8rem;left:1rem;overflow: hidden;width:14rem;height:1.5rem;padding:.2rem 0 .2rem 1rem;border:1px solid rgba(3,169,244,.2);border-radius:.6rem 0;background-color:rgba(1,87,155,.1);color:#e3f2fd;font-size:.8rem;cursor:pointer;white-space: nowrap;text-overflow: ellipsis;word-break: break-all}
.item:hover,.item.active{border-color:#03a9f4 ;background-color:#01579b}

.itemInfo{position:relative;width:100%;padding:2rem 3rem;background-color:rgba(0,0,29,0.4);border:1px solid rgba(255,255,255,0.15);border-left:0}
.sheetArea{display:flex;gap:1.5rem;padding:0;border:0;background-color:transparent}
.sheetBox{padding:0}
.sheet{width:100%;margin:0;table-layout:fixed;border-collapse:collapse;border-spacing:0;text-align:center}
.sheet th{padding:.4rem .2rem;border:1px solid #202020;background-color:rgba(11,11,20,.9);color:#72bce3;font-size:0.98rem;font-weight:400}
.sheet td{padding:.4rem .2rem;border:1px solid #202020;background-color:rgba(18,18,30,.8);font-size:0.98rem}
.sheet tr:hover td{background-color:rgba(63,81,181,.6) !important;color:#fff}
.sheet tr:hover .tLabel{background-color:rgba(63,81,181,.4) !important}
.sheetEm{color:inherit;font-style:italic}
.sheetSub{color:inherit;font-size:.74rem;font-style:italic}
.sheetTwin{display:flex;justify-content:space-between}
.sheetTwin .sheet{width:49%;margin:0}

@media (max-width:1300px) {
    .sensorArea{display:grid;grid-template-columns:3fr 5fr}
    .itemLine{width:auto;margin-left:0}
    .itemList{width:auto}
    .itemInfo{position:static;width:auto;margin-left:1rem}
    .item{left:.6rem;width:100%;min-width:auto;background-color:#051f44}
    .sheetArea{flex-direction:column;padding:0}
    .sheetBox{padding:0}
}

@media (max-width:768px) {
    .sensorArea{display:block}
    .itemList{height: calc(30vh);margin-bottom:2rem}
    .itemInfo{margin-left:0;padding:1rem}
    .sensorName{font-size:1.3rem}
}
@media (max-width:768px) {
    .sensorArea{margin:10px 0 1rem 0}
    .itemInfo{padding:0}
    .itemList{padding:10px}
}

